<header class="masthead">
  <div class="avatar">
    <img class="avatar-image" src="{{ site.brand }}">
  </div>
  <div class="masthead-title">
    <a href="{{ site.baseurl }}" title="{% t site.name %}">{% t site.name %}</a>
  </div>
    
  <span style="display: block; margin-bottom: 1em"></span>
  
  <p><i>
  {% for line in site.header %}
    {{ line }}<br>
  {% endfor %}
  </i></p>
  
  <span style="display: block; margin-bottom: 1em"></span>

  {% for lang in site.languages %}
    {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
  <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.global.langs[lang] }}</a>
    {% else %}
  <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.global.langs[lang] }}</a>
    {% endif %}
    {% assign next = forloop.index | plus: 1 %}

    {% if forloop.last != true or site.languages[forloop.index] == site.lang and next < forloop.length %}
  <span class="separator"> &bull; </span>
    {% endif %}
  {% endfor %}

  {% if page.edit == true %}
  <span class="separator"> | </span>
  <a href="{{ site.edit }}_i18n/{{ site.lang }}/{{ page.path }}" target="_blank"><i class="fa fa-edit"></i></a>
  {% endif %}

  <span style="display: block; margin-bottom: 1em"></span>
  
  <div class="section-nav">
    {{ content | toc_only }}
  </div>
  
  <hr style="margin: 10px;">
  
  {% if site.github %}
  <a href="https://github.com/{{site.github}}" class="social">
    <i class="fa fa-github"></i>
  </a>
  {% endif %}
  {% if site.mail %}
  <a href="mailto:{{site.mail}}"  class="social">
    <i class="fa fa-envelope-o"></i>
  </a>
  {% endif %}
  {% if site.youtube %}
  <a href="{{site.youtube}}"  class="social">
    <i class="fa fa-youtube-play"></i>
  </a>
  {% endif %}
</header>