<header class="masthead">
  <div class="avatar">
    <img class="avatar-image" src="{{ site.brand }}">
  </div>
  <div class="masthead-title">
    <a href="{{ site.baseurl }}" title="{% t site.name %}">{% t site.name %}</a>
  </div>
  
  <p><i>
  {% for line in site.header %}
    {{ line }}<br>
  {% endfor %}
  </i></p>
  
  <span style="display: block; margin-bottom: 3em"></span>
  
  {% if site.github %}
  <a href="https://{{site.github.url}}"><i class="fa fa-github"></i> {{ site.github.name }}</a>&nbsp;&nbsp;&nbsp;
  {% endif %}

  {% if site.mail %}
  <a href="mailto:{{site.mail}}"><i class="fa fa-envelope-o"></i> {{ site.mail }}</a>
  {% endif %}

  <span style="display: block; margin-bottom: 3em"></span>
    {% t site.index.department %}<br>
    {% t site.index.address %}
  
  <hr style="margin: 10px;">
  {% for lang in site.languages %}
    {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
  <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.global.langs[lang] }}</a>
    {% else %}
  <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.global.langs[lang] }}</a>
    {% endif %}
    {% assign next = forloop.index | plus: 1 %}

    {% if forloop.last != true or site.languages[forloop.index] == site.lang and next < forloop.length %}
  <span class="separator"> &bull; </span>
    {% endif %}
  {% endfor %}

  {% if page.edit == true %}
  <span class="separator"> | </span>
  <a href="{{ site.edit }}_i18n/{{ site.lang }}/{{ page.path }}" target="_blank"><i class="fa fa-edit"></i></a>
  {% endif %}
</header>