.course {
  margin: auto;
  text-align: left;
  margin-top: 0.75em;
  margin-bottom: 2em;
}

.list-item-course {
  display: block;
  padding: 7px 20px;
  margin-left: 2rem;
  margin-bottom: 10px;
  border-radius: 6px;
  border-left: 10px solid #cfdee3; 
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.05),
       -2px -2px 5px 0 rgba(0,0,0,.05),
      2px 2px 5px 0 rgba(0,0,0,.05),
      -2px 2px 5px 0 rgba(0,0,0,.05);
}

.list-item-course:hover {
    background-color: #cfdee3;
}