.container {
    width: 100%;
    padding: 0px;
}

.content {
  padding: 10px;
  margin-left:  auto;
  margin-right: auto;
  min-height: 100vh;
}

.sidebar-left {
  display: flex;
  overflow-y: scroll;
  background-color: $bg-sidecar;
}

@media (min-width: $lt-width) {
  .container {
    width: $lt-width;
  }

  .content {
    margin-left: calc(#{$lt-width} * 0.3);
    width: calc(#{$lt-width} * 0.7);
  }

  .sidebar-left {
    position: fixed;
    top: 50px;
    bottom: 0px;
    width: calc(#{$lt-width} * 0.3);
  }
}

@media (min-width: $md-width) {
  .container {
    width: $md-width;
  }

  .content {
    margin-left: calc(#{$md-width} * 0.3);
    width: calc(#{$md-width} * 0.7);
  }

  .sidebar-left {
    position: fixed;
    top: 50px;
    bottom: 0px;
    width: calc(#{$md-width} * 0.3);
  }
}