.masthead {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.avatar-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.masthead-title {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;

  a:hover,
  a:focus {
    color: var(--link-hover-color);
  }
}

.masthead-tagline {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  opacity: .7;
}

.navigation-list {
  margin-top: var(--spacer-2);
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: block;
  margin-bottom: var(--spacer);
}

.navigation-item a {
  background: transparent;
  color: inherit;
  letter-spacing: 0.05em;
  font-size: 90%;
  border-bottom: 2px solid;
  border-color: inherit;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

a.social {
  color: inherit;
  font-size: 50px;
  margin: 10px;
  
  &:hover,
  &:focus {
    text-decoration: none;
    text-shadow: 0px 0px 4px;
  }
}