$lt-width: 768px;
$sm-width: 852px;
$md-width: 1152px;
$lg-width: 1536px;
$xl-width: 1920px;
$qhd-width: 2560px;
$wqhd-width: 3440px;
$uhd-width: 3840px;

$bg-default: #fff;
$bg-sidecar: #fafafa;
$bg-navbar: #fafafa;

$page-margin: 0.3