---
layout: default
---
<div class="container content page">

  <h3 class="title">{{ page.name }}</h3>

  {% if page.avatar %}
  <img width="300" src="{{site.baseurl}}/images/course/{{page.avatar}}">
  {% endif %}

  {% if page.site %}
  <i class="fa fa-university" aria-hidden="true"></i> <a href="https://{{page.site}}">Course Website</a> <br>
  {% endif %}

  <hr>

  {% if page.lecturers %}
  <h3 class="title">Lecturers</h3>
  
  <div class="content list people">
    {% assign lecturers = page.lecturers | split: "," %}
    {% for lecturer in lecturers %}
    {% for profile in site.people %}
      {% if profile.url contains lecturer %}
        <div class="list-item-people">
          <p class="list-post-title">
            {% if profile.avatar %}
              <a href="{{ site.baseurl }}{{ profile.url }}"><img class="profile-thumbnail" src="{{site.baseurl}}/images/people/{{profile.avatar}}"></a>
            {% else %}
              <a href="{{ site.baseurl }}{{ profile.url }}"><img class="profile-thumbnail" src="{{site.baseurl}}/images/people/default.jpg"></a>
            {% endif %}
            <a class="name" href="{{ site.baseurl }}{{ profile.url }}">{{ profile.name }}</a>
          </p>
        </div>    
      {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  <hr>
  {% endif %}

  {{ content }}
</div>
