<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <!-- google and yandex -->
  <meta name="google-site-verification" content="XV1-cta_IB_JudVfTh__LZ1ZW8DEQl_V2G6mEooWnPM" />
  <meta name="yandex-verification" content="5145b57371dbc003" />
  <!-- open graph -->
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.og.image }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{% t page.title %}{% else %}{% t site.name %}{% endif %}">
  <meta property="og:site_name" content="{% t site.name %}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{site.url}}/{{ lang }}{{ page.url }}">
  <!-- twitter -->
  <meta name="twitter:title" content="{% if page.title %}{% t page.title %}{% else %}{% t site.name %}{% endif %}">
  <meta name="twitter:image:src" content="{% if page.image %}{{ page.image }}{% else %}{{ site.og.image }}{% endif %}">
  
  
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{% t page.title %}{% else %}{% t site.name %}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  
  <!-- favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/logo/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/logo/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/logo/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/logo/apple-touch-icon-144x144-precomposed.png">

  <!-- local -->
  <script src="/javascript/transition.js"></script>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <div class="navbar-page">
  {% include navbar.html %}
  </div>
  <div class="container">
    {% if site.sidebar %}
    {% if site.image %}
    <div class="sidebar-left" style="background-image: url({{ site.image }});">
    {% else %}
    <div class="sidebar-left">
    {% endif %}
    {% include sidecar.html %}
    </div>
    <div class="content">
      {{ content }}
      {% include footer.html %}
    </div>
    {% else %}
    <div class="content" style="margin-left: auto!important;">
      {{ content }}
      {% include footer.html %}
    </div>
    {% endif %}

  </div>
</body>
</html>
