---
layout: default
---
<div class="no_toc_section">
  <h3 id="{% t peoples.name.{{ page.id | split: "/" | last }} %}" class="title">{% t peoples.name.{{ page.id | split: "/" | last }} %}</h3>
</div>

{% if page.avatar %}
<img width="300" src="/images/people/{{ page.avatar }}">
{% endif %}

{% if page.site %}
<i class="fa fa-user" aria-hidden="true"></i> <a href="{{page.site}}">{% t profile.website %}</a> <br>
{% endif %}

{% if page.mail %}
<i class="fa fa-envelope-o"></i> <a href="mailto:{{page.mail}}">{{ page.mail }}</a> <br>
{% endif %}

{% if page.scholar %}
<i class="fa fa-bar-chart"></i> <a href="https://{{page.scholar}}">google scholar</a> <br>
{% endif %}
{% if page.orcid %}
<i class="fa fa-bar-chart"></i> <a href="https://{{page.orcid}}">OrcID</a> <br>
{% endif %}
{% if page.mathnet %}
<i class="fa fa-bar-chart"></i> <a href="http://{{page.mathnet}}">Math-Net</a> <br>
{% endif %}

<hr>

{{ content }}